@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
    font-family: 'Kumbh Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


li  {
    list-style: none;
    display: inline;
    padding-left: 2em;
}